<div class="banner">
  <div class="container">
    <h1> <%= @list.name %> </h1>
  </div>
</div>


<div class="container__show">
<% @list.movies.each do |movie| %>
  <div class="card-trip">
    <img src="<%=movie.poster_url%>"/>
    <div class="card-trip-infos">
      <div>
        <h2> <%= movie.title %></h2>
        <p> <%= movie.bookmarks.first.comment %></p>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'add bookmark', new_list_bookmark_path(@list), class: "button_add-bookmark" %>
