<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar">
          <%= link_to lists_path do %>
            <i class="fa-solid fa-house navbar__list-item"></i>
          <% end %>
          <%= link_to new_list_path do %>
            <i class="fa-solid fa-plus navbar__list-item"></i>
          <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
